fastapi>=0.115.0
uvicorn[standard]>=0.30.0
jinja2>=3.1.4
python-multipart>=0.0.9
sqlalchemy>=2.0.36
sqlmodel>=0.0.21
cryptography>=42.0.8
netmiko>=4.3.0
paramiko>=3.4.0
apscheduler>=3.10.4
gitpython>=3.1.43
pyyaml>=6.0.1
aiofiles>=23.2.1
httpx>=0.27.0
icmplib>=3.0.4
python-dotenv>=1.0.1
passlib[bcrypt]>=1.7.4
rich>=13.7.1
pytz
itsdangerous
ldap3
starlette>=0.41.0
bcrypt>=4.0.0
